.e81_36 { 
	width:9804px;
	height:1024px;
	position:absolute;
}.e18_64 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:1748px;
	top:0px;
}.ei18_64_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei18_64_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei18_64_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_64_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei18_64_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei18_64_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei18_64_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei18_64_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei18_64_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_64_18_23_18_3_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_515 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:3432px;
	top:0px;
}.ei18_515_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei18_515_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei18_515_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_515_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_515_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei18_515_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_515_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei18_515_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_515_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei18_515_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_515_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei18_515_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_515_18_23_18_6_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_515_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei18_515_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_537 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:5016px;
	top:0px;
}.ei18_537_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei18_537_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei18_537_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_537_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_537_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei18_537_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_537_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei18_537_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_537_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei18_537_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_537_18_23_18_9_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_537_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei18_537_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_537_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei18_537_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_559 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:6628px;
	top:0px;
}.ei18_559_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei18_559_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei18_559_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_559_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_559_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei18_559_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_559_18_23_18_12_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_559_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei18_559_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_559_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei18_559_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_559_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei18_559_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_559_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei18_559_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_580 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:8364px;
	top:0px;
}.ei18_580_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei18_580_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei18_580_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_580_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_580_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei18_580_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_580_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei18_580_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_580_18_23_18_15_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_580_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei18_580_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_580_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei18_580_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei18_580_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei18_580_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e81_35 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.ei81_35_81_0 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.ei81_35_81_0_18_22 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/covid_19_sls_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei81_35_81_0_18_23 { 
	width:1204.296630859375px;
	height:104px;
	position:absolute;
	left:235.7033233642578px;
	top:0px;
}.ei81_35_81_0_18_23_18_18 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}.ei81_35_81_0_18_23_18_18_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_0_18_23_18_18_18_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:201px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei81_35_81_0_18_23_18_12 { 
	width:200.716064453125px;
	height:104px;
	position:absolute;
	left:802.8644409179688px;
	top:0px;
}.ei81_35_81_0_18_23_18_12_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_0_18_23_18_15 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:1003.5805053710938px;
	top:0px;
}.ei81_35_81_0_18_23_18_15_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_0_18_23_18_9 { 
	width:200.71612548828125px;
	height:104px;
	position:absolute;
	left:602.1483154296875px;
	top:0px;
}.ei81_35_81_0_18_23_18_9_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_0_18_23_18_6 { 
	width:200.71609497070312px;
	height:104px;
	position:absolute;
	left:401.4322204589844px;
	top:0px;
}.ei81_35_81_0_18_23_18_6_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_0_18_23_18_3 { 
	width:200.7161102294922px;
	height:104px;
	position:absolute;
	left:200.7161102294922px;
	top:0px;
}.ei81_35_81_0_18_23_18_3_18_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8399999737739563;
	width:167px;
	height:74px;
	position:absolute;
	left:17px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_23 { 
	width:858px;
	height:92px;
	position:absolute;
	left:291px;
	top:932px;
}.ei81_35_81_23_18_95 { 
	color:rgba(255, 255, 255, 1);
	width:858px;
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.ei81_35_81_24 { 
	width:901px;
	height:376px;
	position:absolute;
	left:270px;
	top:324px;
}.ei81_35_81_24_18_88 { 
	color:rgba(255, 255, 255, 1);
	width:480px;
	height:242px;
	position:absolute;
	left:210px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.ei81_35_81_24_18_90 { 
	color:rgba(255, 255, 255, 1);
	width:901px;
	height:144px;
	position:absolute;
	left:0px;
	top:232px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}